name: Benchmark Test
on:
  pull_request:
    types: [ opened, synchronize, reopened ]

permissions:
  contents: write
  deployments: write

jobs:
  benchmark:
    name: Run Benchmarks 
    runs-on: ubuntu-latest
    steps:
      - name: Current Branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.100'  
      - name: Run benchmark
        run: cd Akov.DataGenerator.Benchmarks && dotnet run --configuration Release --exporters json --filter '*'

      - name: Target Branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.base_ref }}
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.100'  
      - name: Run benchmark
        run: cd Akov.DataGenerator.Benchmarks && dotnet run --configuration Release --exporters json --filter '*'
