name: Benchmark Test
on:
  pull_request:
    types: [ opened, synchronize, reopened ]

permissions:
  contents: write
  deployments: write

jobs:
  benchmark:
    name: Run Benchmark.Net
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.0.101'  # SDK Version to use. keep in line with examples/benchmarkdotnet/global.json
      - name: Run benchmark
        run: cd Akov.DataGenerator.Benchmarks && dotnet run --exporters json --filter '*'
